    /* css sendiri */
    .webcam-capture,
    .webcam-capture video {
    display: inline-block;
    width: 100% !important;
    margin: auto;
        height: auto !important;
        border-radius: 10px;
    }
    #map {
         height: 200px;
    }
